:root {
  --portfolio-height: 400px;
}

body, html{
    height: 100%;
}
#__next {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}

.testimonial__item {
    position: relative;
}
footer {
    margin-top: 30px;
    transition: .5s all;
    will-change: transform;
    flex-shrink: 0;
}

footer .full_divider {
    margin-bottom: 100px;

}

.contact_page textarea {
  resize: none;
}


.form_container.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.form_container form{
  max-height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: 100ms all;
}

.form_container.message-received {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.form_container.message-received form{ 
  max-height: 0;
  opacity: 0;
}
.form_message .success, .form_message .error {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 300ms all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_message img{
  max-width: 33%;
  margin-bottom: 20px;
}

.form_message .message {
  margin-top: 15px;
  text-align: center;
  color: #4b5d68;
  line-height: 24px;
}
.form_message .message a {
  font-weight: 600;
}
.form_message .success.active, .form_message .error.active {
  max-height: 100%;
  opacity: 1;
}

.contact_form_section .secondary_column .why-me--list li::before {
  background: url(../images/check.png);
  background-size: 100%;
}

input, select, textarea {
  background-image: url(../svg/error.svg);
}

@keyframes snazzy {
  0% {
    transform: translateX(0px);
    filter: none;
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.info--right img{
  animation-name: snazzy;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.about_contact_btn {
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 202px;
}

.footer_logo{
  cursor: pointer;
}

.portfolio_wrapper {
  margin-top: 140px;
}
.portfolio_wrapper--title { 
  letter-spacing: -2px;
}
.portfolio_wrapper--text { 
  margin-top: 10px;
}
.portfolio {
  margin-top: 80px;
}
.portfolio__item {
  min-height: var(--portfolio-height);
  position: relative;
  width: 250px;
}
.portfolio__item--img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.portfolio__item--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #212353;
  opacity: 0.8;
  top: 0;
  left: 0;
  border-radius: 7px;
}
.portfolio__item--title, .portfolio__item--end, .portfolio__item a {
  display: block;
  position: relative;
  z-index: 1;
  padding: 0 10px;
  color: #fff;
}
.portfolio__item--title {
  padding-top: 20px;
  font-family: Helvetica,sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.portfolio__item a{
  color: #fff;
  top: calc(var(--portfolio-height) - 90px);
}

@media screen and (max-width: 768px) {
  .about_me__img{
    margin-top: 30px;
  }
}