body, html{
    height: 100%;
}
#__next {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}

.testimonial__item {
    position: relative;
}
footer {
    margin-top: 30px;
    transition: .5s all;
    will-change: transform;
    flex-shrink: 0;
}

footer .full_divider {
    margin-bottom: 100px;

}

.contact_page textarea {
  resize: none;
}


.form_container.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.form_container.success img{ 
    max-width: 33%;
    margin-bottom: 15px;
}
.form_container.success p{
    font-size: 17px;
}