body, html{
    height: 100%;
}
#__next {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}

.testimonial__item {
    position: relative;
}
footer {
    margin-top: 30px;
    transition: .5s all;
    will-change: transform;
    flex-shrink: 0;
}

footer .full_divider {
    margin-bottom: 100px;

}

.contact_page textarea {
  resize: none;
}


.form_container.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.form_container form{
  max-height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: 100ms all;
}

.form_container.message-received {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.form_container.message-received form{ 
  max-height: 0;
  opacity: 0;
}
.form_message .success, .form_message .error {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 300ms all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_message img{
  max-width: 33%;
  margin-bottom: 20px;
}

.form_message .message {
  margin-top: 15px;
  text-align: center;
  color: #4b5d68;
  line-height: 24px;
}
.form_message .message a {
  font-weight: 600;
}
.form_message .success.active, .form_message .error.active {
  max-height: 100%;
  opacity: 1;
}

.contact_form_section .secondary_column .why-me--list li::before {
  background: url(../images/check.png);
  background-size: 100%;
}

input, select, textarea {
  background-image: url(../svg/error.svg);
}