.skills{
  margin-top: 50px;
  width: 100%;
  &__title{
    font-size: 27px;
  }
  &__info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    &--techs{
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      position: relative;
      .tech_item{
        font-size: 18px;
        span{
          padding: 20px 5px;
          display: inline-block;
        }
        transition: 300ms color ease-in-out;
        transition-delay: 150ms;
        &.active{
          color: #fff;
        }
      }
      .tech_selection{
        position: absolute;
        width: 100%;
        max-width: 30%;
        height: 58px;
        top: 0px;
        transition: 400ms all ease-in-out;
        box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: .2);
        z-index: -1;
        background: linear-gradient(90deg,#777bf8,#68d4f8 200%);
        border-radius: 40px;
        box-sizing: content-box;
        padding-right: 2px;
      }
    }
    &--summary{
      flex-basis: 60%;
      position: relative;
      margin-top: 29px;
      .content{
        opacity: 0;
        transition: 300ms all;
        overflow: hidden;
        position: absolute;
        // transform: translateX(30000px);
        &.active{
          opacity: 1;
          // transform: translateX(0px);
        }
      }
      .summary_title{
        font-size: 22px;
        margin-bottom: 20px;
        color: $medium-purple;
        font-weight: 600;
      }
      p{
        font-size: 20px;
        line-height: 20px;
        color: $river-bed;
        line-height: 27px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .skills{
    &__title{
      font-size: 20px;
    }
    &__info{
      &--techs{
        flex-basis: 25%;
        .tech_item{
          font-size: 13px;
        }
        .tech_selection{
          height: 53px;
        }
      }
      &--summary{
        flex-basis: 70%;
        margin-top: 26.5px;
        .summary_title{
          font-size: 16px;
        }
        p{
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}