.skills{
  margin-top: 50px;
  width: 100%;
  &__title{
    font-size: 27px;
  }
  &__info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--techs{
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      position: relative;
      .tech_item{
        font-size: 18px;
        padding: 20px 5px;
        padding-left: 30%;
        transition: 500ms color;
        &.active{
          color: #fff;
        }
      }
      .tech_selection{
        position: absolute;
        width: 100%;
        height: 58px;
        top: 0px;
        transition: 400ms all;
        box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: .2);
        z-index: -1;
        background: linear-gradient(90deg,#777bf8,#68d4f8 200%);
        border-radius: 40px;
      }
    }
    &--summary{
      flex-basis: 60%;
      .summary_title{
        font-size: 22px;
        margin-bottom: 20px;
        color: $medium-purple;
        font-weight: 600;
      }
      p{
        font-size: 20px;
        line-height: 20px;
        color: $river-bed;
        line-height: 27px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .skills{
    &__title{
      font-size: 20px;
    }
    &__info{
      align-items: center;
      &--techs{
        flex-basis: 25%;
        .tech_item{
          font-size: 13px;
        }
      }
      &--summary{
        flex-basis: 70%;
        .summary_title{
          font-size: 16px;
        }
        p{
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}