.title_w_sum {
    h2 {
        margin-bottom: 20px;
        text-align: center;
    }
    span{
        display: block;
        text-align: center;
        color: $river-bed;
        line-height: 28px;
        font-size: 18x;
        margin-bottom: 40px;
    }
}